LLM_BACKEND=ollama-hosted
OLLAMA_API_KEY=e9615ca9c3784f11a00c2929fa24934c.thDMIrD-u-tTDGiVM8an7c2i
CLAUDE_API_KEY=your-claude-api-key-here
OLLAMA_API_URL=https://ollama.com/api/generate
OLLAMA_MODEL=gpt-oss:120b
PORT=3000
